<form method="POST" action="" novalidate>
    {{ form.csrf_token }}
    <div class="mb-3">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                <span>{{ error }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="text">{{ form.review.label }}</label>
        {{ form.review(class="form-control") }}
        {% for error in form.review.errors %}
            <div class="alert alert-danger" role="alert">
                <span>{{ error }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="rating">{{ form.rating.label }}</label>
        {{ form.rating(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-lg btn-outline-secondary") }}
    </div>
</form>